body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #234e4e;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #234e4e;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

p {
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
}

.comp-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.stock-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #234e4e;
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background: #234e4e;
  background-image: -webkit-linear-gradient(top, #234e4e, #233d37);
  background-image: -moz-linear-gradient(top, #234e4e, #233d37);
  background-image: -ms-linear-gradient(top, #234e4e, #233d37);
  background-image: -o-linear-gradient(top, #234e4e, #233d37);
  background-image: linear-gradient(to bottom, #234e4e, #233d37);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cfde3, #234e4e);
  background-image: -moz-linear-gradient(top, #3cfde3, #234e4e);
  background-image: -ms-linear-gradient(top, #3cfde3, #234e4e);
  background-image: -o-linear-gradient(top, #3cfde3, #234e4e);
  background-image: linear-gradient(to bottom, #3cfde3, #234e4e);
  text-decoration: none;
}

.contact-me {
  margin-top: 100px;
  margin-bottom: 100px;
}

hr {
  border: none;
  border-top: 10px dotted;
  width: 5%;
  color: #888f8f;
  margin: 10px auto;
}

.intro {
  color: #40514e;
  width: 30%;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.profile {
  margin: 100px auto;
}

.skills {
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #8fbdd3;
  position: relative;
  padding-top: 100px;
}

.footer-link {
  margin: 50px 50px 0px 50px;
  text-decoration: none;
}

.footer-link:hover {
  color: #3cfde3;
}

.copyright {
  margin-bottom: 0;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 10px 0;
}

.outro {
    margin-bottom: 50px;
}
